[Unit]
Description=Run OLAP master daily at 01:30 Asia/Jakarta

[Timer]
OnCalendar=*-*-* 01:30:00 Asia/Jakarta
Persistent=true
AccuracySec=1s
Unit=olap-master.service

[Install]
WantedBy=timers.target
